{% extends 'BookcaseBundle:Default:layout.html.twig' %}
{% block body %}
    <h1>Index</h1>
    <a href="{{ path('bookcase_homepage') }}">Acceuil</a>
    <a href="{{ path('bookcase_read') }}">Lire</a>
{% endblock body %}
