{% extends 'DashboardBundle:Default:layout.html.twig' %}
{% block body %}
<div class="section">
	<div class="container">
		<div class="blockTitle">
			<div class="title-1">
				<h1>Ajouter un auteur</h1>
			</div>
		</div>
		{{ form_start(monForm) }}
		{{ form_end(monForm) }}
	</div>
</div>
{% endblock body %}
