<html>
<head>
    <meta charset="utf-8">
</head>
<body>
    FIND MY NAME!
    <br>
    <br>
    <a href="{{ path('bookcase_homepage') }}">GO BOOKCASE</a>
    <br>
    <a href="{{ path('dashboard_homepage') }}">GO DASHBOARD</a>
    <br>
    <a href="{{ path('dashboard_addBook') }}">GO BOOKS</a>
    <br>
</body>
</html>